@using VideoGameLibrary.Data.Models
@model Game

<div>
	<h2>Title: @Model.Title</h2>
	<h4>Platform: @Model.Platform</h4>
	<h4>Genre: @Model.Genre</h4>
	<h4>ESRB Rating: @Model.ESRB_Rating</h4>
	<h4>Year: @Model.Year</h4>
	<img src="@Model.Image" width="250"/>
	@* Do not show loan info if null*@
	@if (Model.LoanedTo != null)
	{
		// Apply a button that returns the game (set LoanedTo to null)
		// Existing logic will set the date to null if LoanedTo is null
		<h3>Game was loaned to <b class="text-danger">@Model.LoanedTo</b> on <b class="text-danger">@Model.LoanDate.Value.ToShortDateString()</b></h3>
		// Button to return loaned game
		<form method="post">
			<input hidden name="id" value="@Model.Id" />
			<button type="submit" class="btn btn-secondary">Return Game</button>
		</form>
	}
	else
	{
		// Apply a button that allows the user to loan the game if the textbox is not an empty string
		// Set LoanedTo to be the submitted string
		// LoanDate = DateTime.Now will be handled in games.cshtml.cs
		<form method="post">
			<input type="hidden" name="id" value="@Model.Id" />
			<input type="text" name="endebted" placeholder="The Endebted" class="form-control" />
			<button type="submit" class="btn btn-secondary">Loan</button>
		</form>
	}
</div>