@page
@using SimpleSite.Data.Models
@using SimpleSite.Pages
@model MoviesModel
@{
	ViewData["Title"] = "Movies";
}

<h1>Movies</h1>

<h3>Add a New Movie!</h3>
<form method="post">
	<div>
		<label asp-for="@Model.NewMovie.Title"></label>
		<input asp-for="@Model.NewMovie.Title" />
	</div>
	<div>
		<label asp-for="@Model.NewMovie.Year"></label>
		<input asp-for="@Model.NewMovie.Year" />
	</div>
	<div>
		<label asp-for="@Model.NewMovie.Score"></label>
		<input asp-for="@Model.NewMovie.Score" />
	</div>
	<div>
		<input type="submit" value="Add Movie" />
	</div>
</form>

<div>
	@{
		foreach(Movie movie in Model.Provider.Movies)
		{
			<partial name="_MoviePartial" model="movie" />
		}
	}
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}